.header {
    height: 50px;
    min-height: 50px;
    display: flex;
}

.logo-container {
    height: 100%;
    width: 100%;
    background-image: url('../../ressources/LOGO.png');
    background-size: contain;
    background-repeat: no-repeat;
}
