.header {
    height: 70px;
    width: 100%;
}

.logo-container {
    height: 100%; 
    margin-top: 25px;
    margin-left: 25px;
    background-image: url('../../ressources/LOGO.png');
    background-size: contain;
    background-repeat: no-repeat;
}
