@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body, html {
  max-height: 100vh;
} 

body {
  font-family: 'TeXGyreAdventor-Bold';
  background-color: red;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('./ressources/FOND.png');
  background-size: cover;
  background-position: center;
}


.section-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.inputs {
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hexcode {
  margin-bottom: 15px;
}

.input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 0.5px solid white;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: black;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.input:focus {
   outline: none; 
}

input[type="search"] {
  -webkit-appearance: none;
}

.color-square {
  width: 300px;
  height: 300px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 4px;
}

ul {
  list-style: none;
}

.color-values {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.color-values ul li {
  text-align: left;
}

